/***************************
*********GENERAL************
***************************/
body, html {
  padding : 0;
  margin : 0;
  margin-left : 3rem;
}

html {
  font-size : 62.5%;
}

p {
  font-size : 1.6rem;
}

header p.pageTitle {
  text-align: center;
  font-size : 3rem;
  margin-top : 1rem;
  font-family: 'Roboto', sans-serif;
}

.dashboard {
  padding : 1rem;
  background-color : #F2F2BD;
}

.main-content {
  width : 20%;
}

.menu-button{
  position :relative;
  margin-right : 5px;
  width: 50px;
  height: 50px;
  background-color : #499DCE;
  background-repeat:no-repeat;
  background-position :50%,50%;
  border-radius :15%;
}

.menu-button:hover{
  background-color : #70b7e0;
}

.menu-button:active{
  background-color: #2d76a1;
}

/***************************
****INVESTMENT COMPONENT****
***************************/

.investment-box {
  padding : 1rem;
  background-color : #499DCE;
}

.investment-box > div >div{
  display: flex;
  justify-content: start;
}

.investment-box button{
  margin-top: 1rem;
} 

/***************************
****WORK COMPONENT****
***************************/

.work-box {
  padding : 1rem;
  background-color : #dc5e38;
}

/***************************
*********MAIN BUTTON*******
***************************/
.app-main-buttons {
  display: flex;
  justify-content: space-evenly;
}
.main-button {
  display : inline-block;
  width : 140px;
  height : 140px;
  padding : 1rem;
}

.main-button-number {
  display : block;
  font-size : 4rem;
}

.sell-button {
  display : inline-block;
  width : 140px;
  height : 140px;
  padding : 1rem;
}
