/***************************
*********GENERAL************
***************************/
body, html {
  padding : 0;
  margin : 0;
  margin-left : 3rem;
}

html {
  font-size : 62.5%;
}

p {
  font-size : 1.6rem;
}

.number-of-clicks {

}

.sell-button {
  display : block;
  margin-top: 1rem;
}

header p.pageTitle {
  text-align: center;
  font-size : 3rem;
  margin-top : 1rem;
  font-family: 'Roboto', sans-serif;
}

.dashboard {
  padding : 1rem;
  width : 20%;
  background-color : #F2F2BD;
}

.investment-box {
  padding : 1rem;
  width : 20%;
  background-color : #499DCE;
}

.work-box {
  padding : 1rem;
  width : 20%;
  background-color : #dc5e38;
}